

<img src="https://sistema.vestra.global/assets/images/logo-vestra.png" alt="logo-vestra" height="30px" />
<br/>
<br/>
<h2>Bem Vindo a Vestra</h2>
<br/>
<br/>
<p> <strong>Olá, {{ nome }}</strong>, você se cadastrou no sistema Vestra</p>
<br/>
<br/>
<p>Acesse este <a href="https://sistema.vestra.global/">Link</a> para fazer o Login</p>

